BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: true
IncludeBlocks: Preserve
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: true